<div class="text-center mt-3">
  <h2>Your matches - {{ pagination?.totalItems }}</h2>
</div>
<div class="container mt-3">
  <form #form="ngForm" class="form-inline mb-3" (ngSubmit)="loadMembers()" autocomplete="off">
    <div class="form-group col-md-2">
      <label for="age_from" class="form-label col-md-4">Age From:</label>
      <input type="number" [(ngModel)]="userParams.minAge" id="age_from" class="form-contro col-md-8" name="minAge">
    </div>
    <div class="form-group col-md-2">
      <label for="age_to" class="form-label col-md-4">Age To:</label>
      <input type="number" [(ngModel)]="userParams.maxAge" id="age_to" class="form-contro col-md-8" name="maxAge">
    </div>
    <div class="form-group col-md-2">
      <label for="item_per_page_list" class="form-label col-md-3">Show:</label>
      <select id="item_per_page_list" name="gender" class="form-select col-md-9" [(ngModel)]="userParams.gender">
        <option *ngFor="let gender of genderList" [value]="gender.value">{{gender.display}}</option>
      </select>
    </div>
    <div class="btn-group col-md-3">
      <button class="btn btn-primary ml-1" type="submit">Apply Filters</button>
      <button class="btn btn-default ml-1" type="button" (click)="resetForm()">Reset</button>
    </div>
    <div class="btn-group float-right col-md-3">
      <button class="btn btn-primary" name='orderBy'
      [(ngModel)]="userParams.orderBy" (click)="loadMembers()" type="button" btnRadio="lastActive" [disabled]="userParams.orderBy === 'lastActive'">Last Active</button>
      <button class="btn btn-success" name='created'
      [(ngModel)]="userParams.orderBy" (click)="loadMembers()" type="button" btnRadio="created" [disabled]="userParams.orderBy === 'created'">Newest Member</button>
      <button class="btn btn-dark" name='age'
      [(ngModel)]="userParams.orderBy" (click)="loadMembers()" type="button" btnRadio="age" [disabled]="userParams.orderBy === 'age'">Age</button>
    </div>
  </form>
</div>
<hr/>
<div class="row" *ngIf="(members && members.length > 0); else no_member">
  <div class="col-md-2" *ngFor="let member of members">
    <app-member-card [memberInput]="member"></app-member-card>
  </div>
</div>
<ng-template #no_member>
  <div class="alert alert-danger" role="alert">
    This is no matched members, please check the filter.
  </div>
</ng-template>
<hr/>
<!--Pagination-->
<div class="row">
  <div class="col-md-12 mt-2 d-flex justify-content-center" *ngIf="pagination">
    <pagination [boundaryLinks]="true" totalItems="{{ pagination.totalItems }}" itemsPerPage = "{{ pagination.itemsPerPage }}"
        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [(ngModel)]="pagination.currentPage"
        *ngIf="pagination.totalItems > pagination.itemsPerPage" (pageChanged)="pageChanged($event)">
    </pagination>
  </div>
</div>

