<div class="row">
  <div class="col-md-12">
      <div class="error-template">
          <h1>
              Oops!</h1>
          <h2>
              500 Internal Server Error</h2>
          <ng-container *ngIf="error">
            <div class="error-details">
              Sorry, an internal server error has occured!<hr/>
              {{ error.message }}
            </div>
            <p>What to do next?</p>
            <ol>
                <li>Open the chrome dev tools</li>
                <li>Inspect the network tab</li>
                <li>Check the failing request</li>
                <li>Examine the request URL - make sure it is correct</li>
                <li>Reproduce the error in Postman - if we see the same response, then the issue is not with Angular</li>
            </ol>
            <p>Following is the stack trace - this is where your investigation should start!</p>
            <code class="mt-5" style="background-color: whitesmoke;">{{error.details}}</code>
            <div class="error-actions">
                <a [routerLink]="['/home']" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                    Take Me Home </a><a class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contact Support </a>
            </div>
          </ng-container>
      </div>
  </div>
</div>

