<div class="card">
  <div class="card-body chat">
    <div *ngIf="messages?.length === 0">
      <p class="text-danger">No messages yet... Say hi by using the message box below.</p>
    </div>
    <ul *ngIf="messages?.length > 0">
      <li *ngFor="let message of messages">
        <div>
          <span class="chat-img" [ngClass]="{'float-right': message.senderUserName === userName }">
            <img class="rounded-circle" src="{{ message.senderPhotoUrl || './src/assets/user.png' }}"
              alt="{{ message.senderUserName }}">
          </span>
          <div class="chat-body" [ngClass]="{'float-right': message.senderUserName === currentUserName}">
            <div class="header">
              <small class="text-muted">
                <span class="fa fa-clock-o">&nbsp;{{ message.dateSend | timeago }}</span>
                <span class="text-danger" *ngIf="!message.dateRead && message.senderUserName !== currentUserName">
                  (unread)
                </span>
                <span class="text-success" *ngIf="message.dateRead && message.senderUserName !== currentUserName">
                  (read {{ message.dateRead | timeago }})
                </span>
              </small>
            </div>
            <p>{{ message.content }}</p>
          </div>
        </div>
      </li>
    </ul>
    <div class="card-footer">
      <form (ngSubmit)="sendMesssage()" autocomplete="off" #messageForm="ngForm">
        <div class="input-group">
          <input type="text" class="form-control input-sm" placeholder="Send a private message here."
            name="messageContent" required [(ngModel)]="messageContent">
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit" [disabled]="!messageForm.valid">
              Send
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
