<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-center text-default">Sign Up</h2>
  <div class="form-group row mt-2">
    <label for="username" class="col-sm-2 col-form-label">User Name:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="username" placeholder="User Name:" ngModel name="username" required #username="ngModel" maxlength="16" minlength="4">
    </div>
  </div>
  <div *ngIf="username.invalid && (username.dirty || username.touched)" class="text-danger">
    <div *ngIf="username.errors.required">
      Please enter username
    </div>
  </div>
  <div *ngIf="username.invalid && (username.dirty || username.touched)" class="text-danger">
    <div *ngIf="username.errors.maxlength || username.errors.minlength">
      Username should be between 4 and 16 in length
    </div>
  </div>
  <div class="form-group row">
    <label for="password" class="col-sm-2 col-form-label">Password:</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="password" placeholder="Password:" ngModel name="password" required
      [pattern]="'^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,16}$'" #password="ngModel">
    </div>
  </div>
  <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
    <div *ngIf="password.errors.required">
      Please enter password
    </div>
  </div>
  <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
    <div *ngIf="password.errors.pattern">
      <p>Password is not valid:</p>
      <ul>
        <li>At least one upper case English letter</li>
        <li>At least one lower case English letter</li>
        <li>At least one digit</li>
        <li>At least one special character</li>
        <li>Minimum eight in length and maximum is 16 in length</li>
      </ul>
    </div>
  </div>
  <div class="form-group row">
    <label for="passwordconfirm" class="col-sm-2 col-form-label">Confirm Password:</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="passwordconfirm" placeholder="Confirm Password:" ngModel name="passwordconfirm" required>
    </div>
  </div>
  <div class="text-danger" *ngIf="showConfirmPasswordError">
    Password and confirm password must be the same.
  </div>
  <div class="form-group row">
    <div class="col-md-2 offset-md-6">
      <div class="btn-group btn-block">
        <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Register</button>
        <button type="button" class="btn btn-default" (click)="onCancel()">Cancel</button>
      </div>
    </div>
  </div>
</form>
